.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.register > img {
  margin-bottom: 20px;
}

.register > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.err {
  height: 40px;
}

@media only screen and (max-width: 1000px) {
  .register {
    width: 100vw;
    justify-content: center;
    margin-bottom: 150px;
  }
}
