.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 40px;
}

.form_helper {
  font-size: 15px;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  width: 300px;
}
.form_helper p {
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  .register {
    width: 100vw;
    justify-content: center;
    margin-bottom: 200px;
  }
}
