.form_helper {
  font-size: 13px;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: aliceblue;
  text-decoration: none;
  width: 300px;
  margin-top: 20px;
}
.form_helper > p {
  font-weight: 400;
}
