.main_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 40px;
  font-size: 17px;
  background-color: #39ace7;
  border-radius: 5px;
}

.main_button:hover {
  background-color: #0784b5;
}

@media only screen and (max-width: 600px) {
  .main_button {
    width: calc(100vw - 80px);
  }
}
