.navbarButton {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarButton > a {
  display: flex;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbarButton > a:hover {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
