.flashItWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.flashItContainer {
  width: 400px;
}

.titleName {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin: 30px 0;
}

@media only screen and (max-width: 600px) {
  .flashItWrapper {
    width: calc(100vw - 80px);
  }
}
