.brand {
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vh;
  height: 100vh;
}
.brand_front,
.brand_mid,
.brand_back {
  position: fixed;
  filter: drop-shadow(0 0 60px rgb(0 0 0 / 0.5));
}

.brand_front {
  animation: intro_front 1s ease-in-out 1s;
  animation-fill-mode: both;
}

.brand_mid {
  animation: intro_mid 1s ease-in-out 1.2s;
  animation-fill-mode: both;
}

.brand_back {
  animation: intro_back 1s ease-in-out 1.4s;
  animation-fill-mode: both;
}

@keyframes intro_front {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(-41%);
  }
}

@keyframes intro_mid {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(-39%);
  }
}

@keyframes intro_back {
  0% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(-37%);
  }
}

.brand_wrapper {
  opacity: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: intro_brand 1s ease-in-out 1s;
  animation-fill-mode: both;
}

@keyframes intro_brand {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-80%);
  }
}

.register_logo {
  height: 200px;
}

.brand_name {
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0;
}

@media only screen and (max-width: 1500px) {
  .brand_wrapper {
    opacity: 0%;
  }
}

@media only screen and (max-width: 1000px) {
  .brand {
    width: 0px;
  }

  .brand_front,
  .brand_mid,
  .brand_back {
    position: fixed;
    filter: drop-shadow(0 0 60px rgb(0 0 0 / 0.5));
  }

  .brand_front {
    animation: intro_front 1s ease-in-out 1s;
    animation-fill-mode: both;
  }

  .brand_mid {
    animation: intro_mid 1s ease-in-out 1.2s;
    animation-fill-mode: both;
  }

  .brand_back {
    animation: intro_back 1s ease-in-out 1.4s;
    animation-fill-mode: both;
  }

  @keyframes intro_front {
    0% {
      transform: translateX(10%) translateY(15%) rotate(-90deg) scale(150%);
    }
    100% {
      transform: translateX(15%) translateY(170%) rotate(-90deg) scale(150%);
    }
  }

  @keyframes intro_mid {
    0% {
      transform: translateX(10%) translateY(15%) rotate(-90deg) scale(150%);
    }
    100% {
      transform: translateX(15%) translateY(168%) rotate(-90deg) scale(150%);
    }
  }

  @keyframes intro_back {
    0% {
      transform: translateX(10%) translateY(15%) rotate(-90deg) scale(150%);
    }
    100% {
      transform: translateX(15%) translateY(166%) rotate(-90deg) scale(150%);
    }
  }

  .brand_wrapper {
    opacity: 100%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: intro_brand 1s ease-in-out 1s;
    animation-fill-mode: both;
  }

  @keyframes intro_brand {
    0% {
      transform: translateX(50%) translateY(0%);
    }
    100% {
      transform: translateX(50%) translateY(500%);
    }
  }
}
