.register_wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100vh;
  width: 100vw;
}

.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  gap: 40px;
}

.register_button {
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
  background-color: #39ace7;
  padding: 15px 30px;
  transition: 0.2s;
  cursor: pointer;
}

.register_button:hover {
  background-color: #0784b5;
}

@media only screen and (max-width: 1000px) {
  .register_wrapper {
    width: 100vw;
    justify-content: center;
  }
  .register {
    width: 100vw;
    justify-content: center;
    margin-bottom: 250px;
  }
}
