.input_wrapper {
  display: grid;
  grid-template-columns: 60px 180px 60px;
  grid-template-rows: 60px 2px 35px;
  gap: 0px 0px;
  grid-template-areas:
    'input_image input icon'
    'line line line'
    'error_message error_message error_message';
  width: 300px;
  flex-direction: column;
}

.input_wrapper > input {
  grid-area: input;
  width: 180px;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 15px;
  height: 60px;
}

.input_wrapper > .input_image {
  height: 60px;
  width: 60px;
  grid-area: input_image;
}

.line {
  grid-area: line;
  height: 2px;
  width: 300px;
  background-color: #fff;
}

.error_message {
  display: none;
  justify-content: center;
  font-size: 13px;
  width: 300px;
  margin-top: 5px;
  color: #fb6a50;
  height: 35px;
  background: none;
  grid-area: error_message;
  transition: 0.3s;
}

.input_wrapper > input:invalid[focused='true'] ~ .error_message {
  display: flex;
  justify-content: center;
  font-size: 13px;
  width: 300px;
  margin-top: 5px;
  background: none;
  color: #fb6a50;
  height: 35px;
  grid-area: error_message;
  transition: 0.3s;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #192428 inset;
  -webkit-text-fill-color: #fff;
}
